services:
  db:
    image: postgres:16-alpine
    container_name: book_rating_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: labsdatabase
      POSTGRES_DB: book_rating
    volumes:
      - db_book_rating_system_postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: book_rating_app
    restart: unless-stopped
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy

volumes:
  db_book_rating_system_postgres_data:
    external: true
